#mainimage {
	text-align: center;
}

body {
    background-color: #2B303B;
}

.outerwrap {
	position:relative;
	overflow:hidden;
}

.links {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	float:left;
	position:relative;
	left:50%;
}

.content {
	float:left;
	position:relative;
	left:-30%;
}

/*
link colors
light
default #666666
hover #333333
click #000000

dark
default #8FA1B3
hover #5F6D78
click #ffffff
*/

a:link {
	font-size: 18px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: lighter;
	text-decoration: none;
}

#filenotfound {
	color:#666666;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: lighter;
	font-style: normal;
	font-size: 18px;
}
