.projects {
}

.project-box {
    width: 500px;
    height: 200px;
    border: 1px solid black;
    border-radius: 5px;
}

p {
    margin: 0px 0px 5px 20px;
    font-size: 18px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: lighter;
	text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-name {
    margin: 20px 0px 0px 20px;
}

.attribution {
    font-size: 14px;
    margin-left: 30px;
}

.languages-div {
    border-top: 1px solid black;
}

.language-block {
    margin-top: 7px;
    display: inline-block;
}

.language-color {
    margin-left: 20px;
    display: inline-block;
    border: 0px solid black;
    border-radius: 50%;
    background-color: red;
    width: 15px;
    height: 15px;
}

.language-text {
    margin: 0px 0px 5px 5px;
    font-size: 18px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: lighter;
	text-decoration: none;
}
