.languages-div {
    border-top: 1px solid black;
}

.language-block {
    display: inline-block;
}

.language-color {
    margin: 0px 2px 0px 8px;
    display: inline-block;
    border: 0px solid black;
    border-radius: 50%;
    background-color: red;
    width: 15px;
    height: 15px;
}

.language-text {
    margin: 0px 8px 0px 2px;
    font-size: 18px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-style: normal;
	font-weight: lighter;
	text-decoration: none;
}

.card-footer {
    white-space: nowrap;
    overflow-x: auto;
}

.card-deck {
    margin: 20px 0px;
}

a {
    color: #8fa1b3;
}

.card-subtitle {
    margin-left: 8px;
}

.progress {
    margin-top: 128px;
}
